/************************************************************************************************************************************************
                                                                Composant - Schema form
************************************************************************************************************************************************/
/************************************************************************************************************************************************
                                                    Variables - Couleurs
************************************************************************************************************************************************/
/* Couleurs */
/* Couleur module */
/* PVV FICHE STATUS */
/************************************************************************************************************************************************
                                                    Variables - Fonts
************************************************************************************************************************************************/
/*Helvetica Neue,*/
.section-title {
  margin-bottom: 20px;
  border-bottom: 1px solid #E5E5E5;
}
.section-title h4 {
  margin-bottom: 2px;
}
.required .control-label:after {
  content: "*";
  color: #FF0000;
  margin-left: 2px;
}