/************************************************************************************************************************************************
                                                    Variables - Couleurs
************************************************************************************************************************************************/
/* Couleurs */
/* Couleur module */
/* PVV FICHE STATUS */
/************************************************************************************************************************************************
                                                    Variables - Fonts
************************************************************************************************************************************************/
/*Helvetica Neue,*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
  margin-left: 15px;
  margin-right: 10px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 8px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #50be87;
}
input:focus + .slider {
  box-shadow: 0 0 1px #50be87;
}
input:disabled + .slider,
input:disabled:focus + .slider {
  background-color: #AAA;
}
input:checked:not(:disabled) + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.modal-body .headerButton {
  padding: 0;
  margin-bottom: 20px !important;
}
.modal-body .headerButton label.switch {
  margin-left: 0;
}
/* BOUTON - SWITCH CAPA */
.switch-capa {
  padding: 10px 10px 0 10px;
}
.switch-capa .switch {
  width: 53px;
}
.switch-capa .switch .slider {
  background-color: #FFFFFF;
}
.switch-capa .switch .slider.round {
  border-radius: 0;
  border: 1px solid #000000;
}
.switch-capa .switch .slider::before {
  border-radius: 0;
  height: 23px;
  width: 25px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000;
  /*content: "\f00c";
                font-family: FontAwesome;*/
  color: #FFFFFF;
  font-size: 16px;
  padding: 1px 4px;
}